<html>
    <head>
        <title>DOE Meal Locator, powered by Aankit</title>

        <!-- Thank you Upperline for the template and Aankit for the Meal Scraper model! -->
    </head>
    <body>
        <h1>NYC DOE Meal Locator</h1>
        <p>A meal locator for free food pickup in the Department of Education.</p>
        <form method="post" action="/sendDistrict">
            <input type="text" name='district' value="Enter the district number"/>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>